.table {
  margin: 0 auto;
  margin-top: 24px;
  width: 480px;
  border: 1px solid #000;
  border-collapse: collapse;
  text-align: start;
}

.head {
  color: #fff;
}

.line {
  background-color: #222121;
}

.column {
  width: calc((100%) / 3);
  padding: 4px 8px;
  font-size: 12px;
  border: 1px solid #000;
}

.tableRow:nth-child(odd) {
  background-color: #fff;
  color: #000;
}

.tableRow:nth-child(even) {
  background-color: #bdb9b9;
  color: #000;
}

.tableRow {
  border: 1px solid #000;
  text-align: center;
}

.transaction {
  text-align: left;
  display: inline-block;
  text-transform: capitalize;
  border-left: none;
  border-right: none;
  /* border: 1px solid #000; */
}
