.table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  margin-top: 50px;
}

.head {
  color: #fff;
  background-color: #222121;
  text-transform: uppercase;
}

.td {
  padding: 10px;
  border: 1px solid #000;
}

.th {
  padding: 10px;
  border: 1px solid #000;
}

.tr {
  &:nth-of-type(even) {
    background-color: #bdb9b9;
  }
}

.tr {
  &:nth-of-type(odd) {
    background-color: #fff;
  }
}
